table{
    width: 100%;
    background-color: black;
}

table th{
    color: #fff;
}

.proId > th > ng-container > table{
    color: #fff;
}

.edit > i{
    color: #d9cd26;
}

.delete > i{
    color: #e35e6b;
}
