<mat-toolbar class="header" met-elevation-z4>
    <div class="left-content">
        <a routerLink="/">
            <img class="logo" src="assets/img/autotech.png" alt="logo" width="175px">
        </a>
    </div>
    <span class="spacer"></span>
    <div class="right-content">
        <a href="https://github.com/ggobato" class="btn-header" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/gabrielgobato" class="btn-header" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
</mat-toolbar>