.sidenav{
    background-color: #14006b;
    width: 200px;
}
.sidenav a{
    color: #ffffff;
}
.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #808080;
}

.container{
    height: 100vh;
}