.home {
    background-color: black;
    box-shadow: 
        inset -2px -2px 5px rgba(255, 255, 255, 0.1),  /* brilho sutil no canto superior esquerdo */
        inset 2px 2px 5px rgba(0, 0, 0, 0.4),          /* sombra no canto inferior direito */
        4px 0 10px rgba(0, 0, 0, 0.6);                /* sombra externa direita para "levantar" */
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    margin-top: 65px;

}

.home .title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
}

.home .subtitle{
    font-size: 1.1rem;
    color: #fff;
}