<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem vindo a AutoTech!</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema de gerenciamento para auto peças. <br><br><br>

        <strong>Clientes:</strong> cadastre, edite, visualize e exclua registros com facilidade.<br><br>
        <strong>Fornecedores:</strong> organize, atualize e acompanhe seus parceiros comerciais.<br><br>
        <strong>Funcionários:</strong> controle completo para monitorar, editar e gerenciar dados.
    </mat-card-subtitle>
</mat-card>
<app-dashboards></app-dashboards>


