<div class="card-container">
    <mat-card>
        <mat-card-title>Alterar Fornecedor</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome" [(ngModel)]="fornecedor.nome_for" name="nome_for">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="CNPJ" [value]="cnpjFormatado" [(ngModel)]="fornecedor.cnpj_for" name="cnpj_for" (input)="onCnpjInput($event)" required maxlength="18" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefone" [value]="telefoneFormatado" [(ngModel)]="fornecedor.telefone_for" name="telefone_for" (input)="onTelefoneInput($event)" required maxlength="15">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="fornecedor.email_for" name="email_for" required>
            </mat-form-field>
        </form>
        <button mat-raised-button (click)="updateFornecedor()" color="primary">
            Atualizar
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>

    </mat-card>
</div>
