<div class="card-container">
    <mat-card>
        <mat-card-title>Excluir Fornecedor</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome Fantasia" [value]="fornecedor.nome_for" name="nome_for" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="razão Social" [value]="fornecedor.razao_social_for" name="razao_social_for" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="CNPJ" [value]="fornecedor.cnpj_for" name="cnpj_for" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefone" [value]="fornecedor.telefone_for" name="telefone_for" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" [value]="fornecedor.email_for" name="email_for" disabled>
            </mat-form-field>
        </form>

        <mat-card-title>Dados de Endereço</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="CEP" [value]="fornecedor.contatos.cep" name="cep" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Município" [value]="fornecedor.contatos.municipio" name="municipio" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Logradouro" [value]="fornecedor.contatos.logradouro" name="logradouro" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Número" [value]="fornecedor.contatos.numero" name="numero" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Complemento" [value]="fornecedor.contatos.complemento" name="complemento" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="UF" [value]="fornecedor.contatos.uf" name="uf" required maxlength="2" disabled>
            </mat-form-field>
        </form>

        <button mat-raised-button (click)="deleteFornecedor()" color="warn">
            Excluir
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </mat-card>
</div>
