.search-container {
    display: flex; /* Organiza os itens dentro da div de forma flexível */
    justify-content: flex-end; /* Alinha os itens para a direita */
    margin-top: -75px; /* Empurra a barra de pesquisa 50 pixels para cima */
    margin-left: 180px;
    margin-bottom: 35px; /* Não deixa espaço abaixo da barra de pesquisa */
    padding-right: 120px; /* Adiciona 120 pixels de espaço à direita da barra de pesquisa */
  }
  
  .search-field {
    position: relative; /* Isso permite posicionar elementos internos (como o ícone e o botão) em relação a essa caixa */
    width: 100%; /* Define a largura da caixa de pesquisa como 200 pixels */
  }
  
  .search-field input {
    width: 100%; /* Faz o campo de pesquisa ocupar toda a largura da caixa  */
    padding: 8px 12px; /* Dá 8px de espaçamento em cima e embaixo e 12px nas laterais */
    height: 32px; /* Define a altura da barra de pesquisa */
    border: 3px solid #808080; /* Cria uma borda de 3px com uma cor cinza claro */
    border-radius: 20px; /* Deixa as bordas da caixa arredondadas com raio de 20px */
    font-size: 14px; /* Define o tamanho da fonte do texto dentro da barra de pesquisa */
    transition: border-color 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos na cor da borda */
  }
  
  .search-field input:hover {
    border-color: #14006b; /* Quando o usuário passar o mouse sobre o campo de pesquisa, a cor da borda fica laranja */
  }
  
  .search-field input:focus {
    outline: none; /* Remove a borda de foco padrão (normalmente fica azul) */
    border-color: #14006b; /* Quando o campo de pesquisa é selecionado (clicado), a borda fica laranja */
  }
  
  .search-field mat-icon {
    position: absolute;
    right: 10px;  /* Distância da borda direita */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; /* Opcional, deixa o ícone com cursor de clique */
    color: black;    /* Ajuste a cor se quiser */
    pointer-events: auto; /* Garante que o clique funcione */
  }


table{
    width: 100%;
    box-shadow: 
        inset -2px -2px 5px rgba(255, 255, 255, 0.1),  
        inset 2px 2px 5px rgba(0, 0, 0, 0.4),
        4px 0 10px rgba(0, 0, 0, 0.6);             
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.edit > i{
    color: #d9cd26;
}

.delete > i{
    color: #e35e6b;
}