table{
    width: 100%;
    box-shadow: 
        inset -2px -2px 5px rgba(255, 255, 255, 0.1),  
        inset 2px 2px 5px rgba(0, 0, 0, 0.4),
        4px 0 10px rgba(0, 0, 0, 0.6);             
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.edit > i{
    color: #d9cd26;
}

.delete > i{
    color: #e35e6b;
}