<div class="card-container">
    <mat-card>
        <mat-card-title>Novo Cliente</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome" [(ngModel)]="cliente.nome_cli" name="nome_cli">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Cpf" [(ngModel)]="cliente.cpf_cli" name="cpf_cli">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefone" [(ngModel)]="cliente.telefone_cli" name="telefone_cli">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="cliente.email_cli" name="email_cli">
            </mat-form-field>
        </form>

        <button mat-raised-button (click)="createCliente()" color="primary">
            Salvar
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </mat-card>
</div>